[*.cs]

# CS0067: The event 'WebSocketSender.LogReceived' is never used
dotnet_diagnostic.CS0067.severity = silent

# CS0168: Variable is declared but never used
dotnet_diagnostic.CS0168.severity = silent
